body {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    line-height: 2em;
    background-color: black;
    color: white;
}

/* navbar */
.nav-item {
    padding-right: 10px;
    padding-left: 10px;
}

.nav-flag {
    padding-right: 5px;
}
#mainNavbar {
    height: fit-content;
    padding: 0 10px 0 10px;
    font-size: 1em;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
    background-color: black;
}
#logo-navbar {
    height: 75px;
    padding: 5px;
}
.spaceHeader {
    padding-top: 25px;
}

.flag {
    height: 1.5rem;
    width: 2.25rem;
    border: 1px solid #F5F3F4;
}
.flag:hover {
    box-shadow: 2px -2px 3px #F5F3F4;

}
@media (max-width: 576px) {
    #logo-navbar {
        height: 40px;
        padding: 5px;
    }

    #terms {
        margin-top: 40px;
        padding-bottom: 25px;
    }
}
@media (max-width: 376px) {
    #logo-navbar {
        height: 45px;
    }
}
.nav-link:hover {
    color: #E5383B;
    font-size: larger;
    transition: 0.5s;
}


/* containers */
.container {
    padding-top: 50px;
}
.container2 {
    padding-top: 50px;
    text-align: center;
}

/* intro section */
.intro {
    padding-top: 25px;
}

#photoSection {
    padding-top: 75px;
}
#logo-intro {
    display: inline-flexbox;
}
@media (max-width: 425px) {
    #route {
        padding-top: 75px;
    }
}
.old-paper {
    position: relative;
    max-width: 850px;
}

.overlay {
    mix-blend-mode: multiply;
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    right: 0;
    bottom: -5px;
}

.overlay img {
    width: 100%;
    height: 100%;
}

/* audio tour map and photos */
.map {
    display: flex;
    justify-content: center;
}

.routePhotos {
    height: 25vh;
}

#map {
    width: 800px;
    height: 550px;
}
@media (max-width: 768px) {
    #map {
        margin-left: 25px;
        margin-right: 25px;
        height: 500px;
    }
}

/* button */
.btnContainer {
    align-items: center;
    padding-bottom: 25px;
}

.btnContainer a {

    bottom: 100px;
    left: 45px;
    outline: 1px solid;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #E5383B;
    border: 1px solid;
    filter: drop-shadow(0 0 0.75rem #E5383B);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

.btnContainer a:hover {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: 1px 1px 2px black;
}

#extraBtn {
    top: 100px;
    left: 0;
}

/* styling for fonts */
h1 {
    font-family: 'Creepster', cursive;
    font-size: 2em;
    color: #E5383B;
}

h2 {
    font-family: 'Creepster', cursive;
    font-size: 1.5em;
    color: rgb(211, 210, 210);
}

h4 {
    font-family: 'Creepster', cursive;
    font-size: 1em;
}
h5 {
    font-size: 2em;
    text-align: center;
    color: #E5383B;
}

p a {
    text-decoration: underline;
}

a {
    color: whitesmoke;
    text-decoration: none;
}


/* footer */
footer a:hover {
    color: #E5383B;
}


/* cards for audio */
.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-white {
    box-shadow: 5px 5px 10px #E5383B;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: 350px;
    text-align: center;
    border: 1px solid rgb(56, 56, 56);
}

.card-white img {
    width: 180px;
    height: 180px;
    object-fit: contain;
}

/* credit section */
.credits {
    text-align: center;
    align-items: center;
}

.title-credits {
    margin: 15px 0 15px;
    text-align: left;
}

.credits h3 {
    border-bottom: 3px solid rgb(56, 56, 56);
}


/* footer */
.footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .footer__card {
    padding: 10px;
    margin: 5px;
    width: 300px;
    text-align: left;
  }
  .footer__header {
    font-size: 1.25rem;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .footer-icon {
    height: 10vh;
  }
  .footer--social {
    display: flex;
    justify-content: space-between;
  }
  .footer__copy {
    font-size: 1rem;
  }
  footer a:hover {
    border-bottom: 2px solid #E5383B;
    text-decoration: none;
    color: whitesmoke;
  }
  footer a {
    color: whitesmoke;
  }
  footer {
    border-top: #E5383B 2px solid;
    color: #F5F3F4;
    display: block;
    flex-wrap: wrap;
    text-align: center;
    margin: 10px;
}
