body {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    line-height: 2em;
    background-color: black;
    color: white;
}
.nav-item {
    padding-right: 10px;
    padding-left: 10px;
}
.nav-flag {
    padding-right: 5px;
}
#mainNavbar {
    height:fit-content;
    padding: 0 10px 0 10px;
    font-size: 1em;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
    background-color: black;
}
.container {
    padding-top: 50px;
}
.intro {
    padding-top: 25px;
}
#photoSection {
    padding-top: 75px;
}
.btnContainer{
    display:inline-block;
    position:relative;
    }
.btnContainer a{
        position: absolute;
        bottom:100px;
        left:45px;
        outline: 1px solid;
        text-shadow: none;
        transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
        padding:10px;
        background-color: #E5383B;
        border: 1px solid;
        filter: drop-shadow(0 0 0.75rem #E5383B);
        box-shadow: inset 0 0 20px rgba(0, 0, 0, .5), 0 0 20px rgba(255, 255, 255, .2);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
        text-shadow: 1px 1px 2px #427388;
        } 
.btnContainer a:hover {
        border: 0 solid;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
        outline-color: rgba(255, 255, 255, .5);
        outline-offset: 0px;
        text-shadow: 1px 1px 2px black; 
        }
#extraBtn {
    top:100px;
    left:0;
}
h1 {
    font-family: 'Creepster', cursive;
    font-size: 2em;
    color: #E5383B;
}
h2 {
    font-family: 'Creepster', cursive;
    font-size: 1.5em;
}
h4 {
    font-family: 'Creepster', cursive;
    font-size: 1em;
}
#logo-intro {
    display:inline-flexbox;
}
#logo-navbar {
    height: 75px;
    padding: 5px;
}
a {
    text-decoration: none;
    color: whitesmoke;
}
a:hover {
    color: #E5383B;
}
footer a:hover {
    color: #161A1D;
}
footer {
    background-color: #BA181B;
    color: #F5F3F4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}
#copy {
    color: black;
    font-size: smaller;
}
@media (max-width: 425px) {
    #route {
    padding-top: 75px;
}}
#social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 75px;
}
#social img {
    height: 75px;
}
.map {
    display: flex;
    justify-content: center;
}
.routePhotos {
    height: 150px;
}
.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card-white {
    box-shadow: 5px 5px 10px #E5383B;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: 350px;
    text-align: center;
    border: 1px solid rgb(56, 56, 56);
}
.card-white img{
    width: 180px;
    height: 180px;
    object-fit: contain;
}
.spaceHeader {
    padding-top: 25px;
}
.flag {
    height: 30px;
    width: 50px;
}
#map {
    width: 800px;
    height: 550px;
}
@media (max-width: 576px) {
    #logo-navbar {
    height: 55px;
    padding: 5px;
    }
    #terms {
    margin-top: 40px;
    padding-bottom: 25px;
}}
@media (max-width: 768px) {
    #map {
        margin-left:25px;
        margin-right:25px;
        height: 500px;
    }
}
@media (max-width: 376px) {
    #logo-navbar {
        height: 45px;
    }
}
.old-paper{
    position:relative;
    max-width:850px;
  }
.overlay{
    mix-blend-mode:multiply;
    position:absolute;
    display:inline-block;
    left:0;
    top:0;
    right:0;
    bottom:-5px;
}
.overlay img{
    width:100%;
    height:100%;
}
.credits {
    text-align: center;
    align-items: center;  
}
.title-credits {
    margin: 15px 0 15px;  
    text-align: left; 
}
.credits h3 {
    border-bottom: 3px solid rgb(56, 56, 56);
}
.soon-container {
    margin:150px 25px 50px 25px;
}




